body{
    background-color: indigo;
}
h1{
    text-align: center;
}
/* article{
    float: left;
} */
.text{
    color: white;
    text-align: center;
}
#game{
    display: flex;
    justify-items: center;
}
#controls{
    flex: 1 2 10vw;
    margin-left: 80px;
    margin-right: -80px;
}
#gameArea{
    justify-self: center;
}
#placeholder{
    flex: 6 3 auto;

}
.container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: baseline;
}
.container .gameBoard{
    align-self: center;
}
.gameBoard{
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}
.gameBoard div {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}
.snake{
    background-color: orange;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.apple{
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h3, span{
    text-align: center;
}


.popup{
    background-color:  gray;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.button .controls{
    text-align: center;
    justify-content: space-evenly;
    background-color: lightgray;
}
.container .direction{
    justify-content: space-evenly;

}